body {
  background-color: #242424;
  color: white;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-wrapper__header {
  color: red;
  font-size: var(--large);
  text-transform: uppercase;
}

.app-wrapper__button {
 margin-top: 5px;
 padding: 10px;
 font-size: var(--medium);
 color: red;
 background-color: black;
 border: 1px solid red;
 border-radius: 5px;
 outline: none;
}

.app-wrapper__button:hover {
  color: black;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 500ms linear, color 500ms linear;
 }
