.not-found-wrapper {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}

.not-found-wrapper__header {
    color: var(--error)
}

.not-found-wrapper__text {
    color: var(--primary-font)
}

.not-found-wrapper__nav {
    padding: 5px;
    border: 1px solid var(--primary-font);
    border-radius: 5px;
    background-color: var(--secondary-font);
    text-decoration: none;
}

.not-found-wrapper__nav:visited {
    color: var(--primary-font);
}

.not-found-wrapper__nav:hover {
    color: var(--secondary-font);
    background-color: var(--primary-font);
    transition: color 300ms ease-out, background-color 300ms ease-out;
}